<div class="banner">
  <div class="header">
    <h3><%= @restaurant.name %></h3>
     <% @average_rating.times do %>
       <i class="fas fa-star"></i>
     <% end %>
     <% (5 - @average_rating).times do %>
       <i class="far fa-star"></i>
     <% end %>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
</div>
<div style="padding: 16px;">
  <h2>Review Highlights</h2>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
</div>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= "★" * (review.rating) %><%="☆"* (5 - (review.rating)) %><br><%= review.content %></li>
  <% end %>
</ul>

<%= link_to "Back to main", restaurants_path, class: "btn btn-primary", style: "margin: 16px" %>