<div class="box">
  <h2>Leave a Review</h2>
  <%= simple_form_for [ @restaurant, @review ] do |f| %>
      <%= f.input :content, label: 'Review content', placeholder: "Review...", :input_html => {:style=> 'resize: none; height: 150px'} %>
    <div id="review">
      <%= f.input :rating, :collection => (0..5), default: "1" %>
    </div>
    <div class="review-box">
      <%= f.submit "Submit review" ,class: "btn btn-primary"%>
      <%= link_to "Cancel", restaurant_path(@restaurant), class: "btn btn-danger" %>
    </div>
  <% end %>

</div>